.label {
    align-items: center;
    justify-content: center;
    align-self: center;
}

.visualelement:disabled {
    transition-duration: 2s;
    background-color: rgba(0, 0, 0, 0);
}

.visualelement:enabled {
    background-color: rgb(0, 0, 0);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
