VisualElement.PaperSelect {
    top: 0;
    left: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    transition-duration: 0.1s;
}

Label.PaperText {
    position: absolute;
    top: 24px;
    left: 40px;
    font-size: 20px;
    width: 140px;
    white-space: normal;
}
