[submodule "MTR_FMOD_Repo"]
	path = MTR_FMOD_Repo
	url = https://github.com/darklight-interactive/MTR_FMOD_Repo.git
[submodule "Assets/Resources/MTR_FMOD_Repo"]
	path = Assets/Resources/MTR_FMOD_Repo
	url = https://github.com/darklight-interactive/MTR_FMOD_Repo.git
