.inky-label {
    font-size: 50px;
    -unity-font-definition: url("project://database/Assets/Thirdparty/_tempUIAssets/_fonts/Handwriting-Regular.otf?fileID=12800000&guid=698e1da1071a45d45b1865fbd8d49812&type=3#Handwriting-Regular");
    -unity-font-style: normal;
    -unity-text-align: upper-left;
    background-image: url("project://database/Assets/Thirdparty/_tempUIAssets/01_Basic_Collection/01_Flat_Theme/Sprites/UI_Flat_Button_Medium_Lock_01a3.png?fileID=-5111564053140402111&guid=461ee717c67f6924ebb5b50c07e19169&type=3#UI_Flat_Button_Medium_Lock_01a3_0");
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    white-space: normal;
}
