.speech-bubble {
    background-image: url("project://database/Assets/[SPRITES]/_ui/speech_bubble.png?fileID=21300000&guid=af3bb8e943ecb9e4ca5183a11a92d568&type=3#speech_bubble");
    flex-grow: 1;
}

.speech-label {
}
