VisualElement.PaperSelect {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 132px;
}

Label.PaperText {
    position: absolute;
    top: 15px;
    left: 18px;
    rotate: -2deg;
    width: 220px;
    height: 50px;
    white-space: normal;
    font-size: 24px;
}
