VisualElement.PaperSelect {
    top: 0;
    left: 0;
    position: absolute;
    width: 256px;
    height: 256px;
    transition-duration: 0.1s;
}

Label.PaperText {
    position: absolute;
    top: 34px;
    left: 56px;
    font-size: 24px;
    width: 165px;
    white-space: normal;
}
